.explore-btn {
	box-shadow: 2px 2px 5px white;
}

#about {
	background-color: #304c89;
}

#services {
	background-color: #043869;
}

/* Services Page Styles */

@media screen and (max-width: 746px) {
	.container {
		flex-direction: column;
	}

	.image {
		width: 100%;
		height: auto;
	}

	.biography {
		font-size: 1.2em;
	}

	#about {
		height: auto;
	}

	#services {
		height: auto;
	}

	.threes-container {
		flex-direction: column;
		margin-top: 1em;
		padding: 2em;
	}

	.items {
		width: 100%;
		height: auto;
		gap: 1em;
	}
}
