.explore-btn {
	box-shadow: 2px 2px 5px white;
}

#about {
	background-color: #304c89;
}

#services {
	background-color: #043869;
}

/* Services Page Styles */
.items {
	padding: 1em;
}

.items img {
	margin: 0.2em auto;
	border: 1px solid #333;
	/* padding: 1em; */
	border-radius: 1em;
	background-color: #fff;
}

.items h3 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0.5em;
}

.items p {
	color: #333;
	margin-bottom: 0.5em;
}

.items a {
	color: blue;
}

@media screen and (max-width: 746px) {
	.container {
		flex-direction: column;
	}

	.image {
		width: 100%;
		height: auto;
	}

	.biography {
		font-size: 1.2em;
	}

	#about {
		height: auto;
	}

	#services {
		height: auto;
	}

	.threes-container {
		flex-direction: column;
		margin-top: 1em;
		padding: 2em;
	}

	.items {
		width: 100%;
		height: auto;
		gap: 1em;
	}
}
